html,body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
}
.maindiv{
	padding: 10px;
	margin-top: 50px;
}
.details{
	margin-top: 30px;
}

.profile img{
	margin-top: 50px;
	width: 50%;
	border-radius: 50%;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-bottom: 20px;
}
.img-thumbnail{
	background: #434242;
}
.profile h3{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	font-family: 'Bad Script', cursive;
}
.profile p{
	text-align: center;
	font-size: 18px;
	font-style: bold;
}
.address{
	color: #22A39F;
}
.social a i{
	font-size: 24px;
	color: #0E5E6F;
	padding-left: 10px;
	line-height: 3px;
}
.social a i:hover {
	color: #E94B3CFF;
}
.menu a{
	text-decoration: none;
	font-size: 20px;
	color: #006B38FF;
	padding: 5px 5px;
	font-weight: 500;
}
.menu a:hover {
	color: #101820FF;
	font-weight: 700;
}

#summery h2{
	margin-top: 80px;
	color: black;
	font-size: 48px;
	line-height: 1.2em;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
	color: #434242;
}
#summery h2 .call__span{
	color: #D64161FF;

}
#summery h2 .name__span{
	font-size: 48px;
	color: #0E5E6F;

}
.designation{
	font-size: 24px;
	font-weight: 500;
	line-height: 10px;
}
.job-provider{
	font-size: 16px;
	font-weight: 500;
	line-height: 10px;
}
.job-provider a{
	text-decoration: none;
	color: #B01E68;
}
.job-date{
	font-size: 12px;
	line-height: 5px;
}
.job-date i{
	color: #435E55FF;
}

.job-responsibility{
	font-size: 18px;
	margin-bottom: 50px;
}
.contributed-project img{
	width: 15%;
	margin: 10px;
	box-shadow: 0.2rem 0.2rem #06283D, -0.2rem -0.2rem #017143;
}
.my-title {
  font-family: 'Rancho', cursive;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.0em;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}
.my-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 25%;
  background-color: #D64161FF;
  z-index: 1;
}
.my-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 2px;
  width: 95%;
  max-width: 100%;
  background-color: #333;
}

@media only screen and (max-width: 767px){
	.maindiv{
		padding: 10px;
	}
	#map {
    	min-height: 500px;
	}
	.maindiv{
		margin-top: 0px;
	}
	.contributed-project img{
		width: 30%;
		margin: 5px;
	}
	#summery h2{
		margin-top: 0px;
	}
}



/* 
Blue: 00539CFF
Lime: EEA47FFF

Dark Green: 2C5F2D
Light: 97BC62FF

Hunter Green (#435E55FF)  
Raspberry (#D64161FF)

Turkish Sea (#195190FF) 
Silver (#A2A2A1FF)

Dark Green (#006B38FF)
Black (#101820FF)
 */